@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager
@inject MudBlazorSync.Application.AppState appState

<MudThemeProvider IsDarkMode="@isMudDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"
                       Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText>@appState.IsDarkTheme.ToString()</MudText>
        <MudSpacer />
        <MudToggleIconButton Icon="@Icons.Material.Filled.BrightnessHigh" Color="Color.Inherit" Toggled=@isMudDarkMode
                             ToggledIcon="@Icons.Material.Filled.BrightnessLow" ToggledChanged="@(_=>ThemeToggle())" />
    </MudAppBar>

    <MudDrawer @bind-Open="drawerOpen" Elevation="4" Style="height:100vh">
        @*  <MudDrawerHeader Style="background-color:darkslategrey; height:var(--mud-appbar-height)">
        <MudText Align=Align.End Typo="Typo.h6" Class="text-gradient pb-16">Mud + Sync</MudText>
        </MudDrawerHeader>*@
        <NavMenu />
    </MudDrawer>

@*    <div id="anchor">
*@    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="pt-8">
@*            <Animate Anchor="anchor" @ref="Animator" Auto="@autoRun" Animation="Animations.FlipUp" DurationMilliseconds="1300">
*@                @Body
@*            </Animate>
*@        </MudContainer>
    </MudMainContent>
@*    </div>
*@</MudLayout>

"style"

@code {
    //Animate Animator;
    //bool autoRun=true;
    bool drawerOpen = true;
    bool isMudDarkMode;

    private void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }

    protected override void OnInitialized()
    {
        isMudDarkMode = GetDarkThemeValue();
        appState.SetDarkTheme(isMudDarkMode);
        SetSyncTheme(isMudDarkMode);
    }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    autoRun = false;
    //}

    private void ThemeToggle()
    {
        isMudDarkMode = !isMudDarkMode;
        appState.SetDarkTheme(isMudDarkMode);
        SetSyncTheme(isMudDarkMode);
    }

    private bool GetDarkThemeValue()
    {
        return true;
    }


    private void SetSyncTheme(bool isSyncDark)
    {

        if (isSyncDark)
        {
            JSRuntime.InvokeAsync<string>("setTheme", "bootstrap5-dark");
        }
        else
        {
            JSRuntime.InvokeAsync<string>("setTheme", "bootstrap5");
        }

    }
}
