@page "/apexChartsPie"

@using ApexCharts;

<MudPaper Elevation="2" Class="col-lg-12 p-3 my-3">
    <MudText Typo="Typo.h4" GutterBottom="true" Class="text-gradient">Pie</MudText>
    <MudText Class="mb-8">This component demonstrates pie charts from Apex charts</MudText>
</MudPaper>

<div id="pie-cards">
    <div class="mb-3 card pie-card">
        <ApexChart TItem="ProductsByCategory" Height="400"
                   Options="options"
                   Title="Products by categories 1"
                   @ref=@chart1>
            <ApexPointSeries TItem="ProductsByCategory"
                             Items="ProductsByCategories"
                             SeriesType="SeriesType.Pie"
                             XValue="@(e=>e.CategoryName)"
                             YValue="@(e=>e.ProductsCount)"
                             OrderByDescending="e=>e.Y" />
        </ApexChart>
    </div>
    <div class="mb-3 card pie-card">
        <ApexChart TItem="ProductsByCategory" Height="400"
                   Options="options"
                   Title="Products by categories 2"
                   @ref=@chart2>
            <ApexPointSeries TItem="ProductsByCategory"
                             Items="ProductsByCategories"
                             SeriesType="SeriesType.Pie"
                             XValue="@(e=>e.CategoryName)"
                             YValue="@(e=>e.ProductsCount)"
                             OrderByDescending="e=>e.Y" />
        </ApexChart>
    </div>
    <div class="mb-3 card pie-card">
        <ApexChart TItem="ProductsByCategory" Height="400"
                   Options="options"
                   Title="Products by categories 3"
                   @ref=@chart3>
            <ApexPointSeries TItem="ProductsByCategory"
                             Items="ProductsByCategories"
                             SeriesType="SeriesType.Pie"
                             XValue="@(e=>e.CategoryName)"
                             YValue="@(e=>e.ProductsCount)"
                             OrderByDescending="e=>e.Y" />
        </ApexChart>
    </div>
</div>

<style>
    #pie-cards {
        display: flex;
        flex-direction:row;
    }
    #pie-cards>div{
        margin:auto;
        background-color:aqua;
    }
</style>

@code {
    [CascadingParameter(Name = "IsDarkMode")]
    private bool IsDarkMode { get; set; }

    private List<ProductsByCategory> ProductsByCategories { get; set; } = new();

    private ApexChartOptions<ProductsByCategory> options;
    private ApexChart<ProductsByCategory> chart1;
    private ApexChart<ProductsByCategory> chart2;
    private ApexChart<ProductsByCategory> chart3;

    protected override void OnInitialized()
    {
        ProductsByCategories.Add(new("Category1", 5));
        ProductsByCategories.Add(new("Category2", 6));
        ProductsByCategories.Add(new("Category3", 8));
        ProductsByCategories.Add(new("Category4", 9));
        ProductsByCategories.Add(new("Category5", 15));

        options = new()
            {
                Theme = new()
                {
                    Mode = IsDarkMode ? Mode.Dark : Mode.Light
                }
            };
    }

    protected override async Task OnParametersSetAsync()
    {
        await ChangeChartThemeAsync();
    }

    public class ProductsByCategory
    {
        public ProductsByCategory(string categoryName, int productsCount)
        {
            CategoryName = categoryName;
            ProductsCount = productsCount;
        }

        public string CategoryName { get; }
        public int ProductsCount { get; }
    }

    private async Task ChangeChartThemeAsync()
    {
        if (chart1 is null)
        {
            return;
        }

        if (IsDarkMode)
        {
            options.Theme.Mode = Mode.Dark;
        }
        else
        {
            options.Theme.Mode = Mode.Light;
        }

        await chart1.RenderAsync();
    }

}
